// Mixin
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } // 900px
  }
}

.card {
  width: calc(100% / 4);
  margin-bottom: 2rem;

  @include responsive(tab-port) {
    width: calc(100% / 3);
  }

  @include responsive(phone) {
    width: calc(100% / 2);
  }

  &__inner-wrapper {
    width: 75%;
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #737783;

    @include responsive(tab-port) {
      width: 65%;
      display: block;
      margin: 0 auto;
    }

    @include responsive(phone) {
      width: 80%;
    }
  }

  &__img {
    width: 100%;
    height: 25rem;
    border-radius: 0.8rem;
  }

  &__title {
    font-weight: 700;
    color: #edf2f5;
    margin-top: 0.5rem;
  }

  &__rating {
    position: absolute;
    right: 1rem;
    top: -0.5rem;
    color: #242126;
    background-color: #faca31;
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }

  &__icon {
    margin-right: 0.3rem;
  }
}

.test {
  display: inline-block;
}
