.list-group {
  width: 80%;
  height: 25rem;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 5px;
  background-color: #fff;
  overflow: scroll;

  &__item {
    font-size: 1.4rem;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    list-style: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #f4f2f2;
    }
  }
}
