.pagination-nav {
  margin: 0 auto;
}

.pagination {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  &__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737783;
    backface-visibility: hidden;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &--active {
      color: #7678fb;
      border: 2px solid #7678fb !important;
    }

    &:hover {
      border: 1px solid #737783;
    }
  }

  &__link {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: inherit;
  }
}
