.pagination-nav {
  margin: 0 auto;
}

.pagination {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  &__item {
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    border: 1px solid gray;
    border-right: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:last-child {
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      border-right: 1px solid gray;
    }

    &:first-child {
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
    }

    &:hover {
      background-color: #e4e4e4;
    }
  }
}
