* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Variables
$border-size: 1.5rem;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  // color: #edf2f5;
  color: #7678fb;
  font-weight: 400;
  line-height: 1.4;
  background-image: linear-gradient(to right bottom, #7775a5, #3c3b66);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
