// Mixin
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    } // 600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    } // 1200px
  }
}

.container {
  max-width: 120rem;
  margin: 6rem auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
  border-radius: 1.5rem;

  @include responsive(tab-land) {
    margin: 0 auto;
  }
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #0c0f26;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;

  &__logo-name {
    color: #faca31;
    padding: 0.3rem 0.6rem;
    border: 1px solid;
    border-radius: 3px;
    @include responsive(tab-port) {
      display: none;
    }
  }
  &__logo-phone {
    display: none;
    @include responsive(tab-port) {
      display: block;
      color: #faca31;
      padding: 0.3rem 0.6rem;
      border: 1px solid;
      border-radius: 3px;
    }
  }
}

.phone-fixed-header {
  display: block;
  @include responsive(tab-port) {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: #0c0f26;
  }
}

.flex-container {
  width: 100%;
  display: flex;
}

.content-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  background-color: #171934;
  border-bottom-right-radius: 1.5rem;

  @include responsive(tab-port) {
    padding: 3.5rem 0.5rem;
    min-height: 94vh;
  }

  @include responsive(phone) {
    min-height: 90vh;
  }
}

.flex-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include responsive(tab-port) {
    margin-top: 12rem;
  }

  @include responsive(phone) {
    margin-top: 9rem;
  }
}

.flex-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: #0c0f26;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom-left-radius: 1.5rem;

  @include responsive(tab-port) {
    display: none;
  }
}

.phone-nav-container {
  display: none;

  @include responsive(tab-port) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #242126;
    font-weight: 700;
    padding: 0.6rem 2rem;
    background-color: #faca31;
  }
}

.phone-nav {
  display: none;

  @include responsive(tab-port) {
    display: block;
    background-color: #171934;
    padding: 0.5rem;
  }
}

.footer {
  margin-top: 5rem;
  padding: 0 3rem;
  color: #737783;
  font-size: 1.2rem;

  &__logo {
    display: block;
    height: 4.5rem;
    margin-bottom: 1rem;

    &--phone {
      margin-right: 2rem;
      margin-bottom: 0;
    }
  }

  &__logo-img {
    height: 100%;
  }

  &__link {
    color: #7678fb;
    text-decoration: none;
    transition: all 300ms;

    &:hover {
      color: hsl(239, 100%, 79%);
      text-decoration: underline;
    }
  }
}

.phone-footer {
  display: none;
  @include responsive(tab-port) {
    display: flex;
    align-items: center;
    color: #242126;
    background-color: #faca31;
    padding: 1.5rem 3.5rem;
  }
}

.not-found {
  padding: 1rem;
  color: #edf2f5;
}
